---
layout: main
---
<!--
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.description | strip_html | truncatewords: 100 }}</p>
  </div>
</article>
{% endfor %}
-->

{% for page in paginator.pages %}
<article class="page">
  {% if page.img %}
    <a class="page-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : page.img}})" href="{{page.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="page-content">
    <h2 class="page-title"><a href="{{page.url | prepend: site.baseurl}}">{{page.title}}</a></h2>
    <p>{{ page.description | strip_html | truncatewords: 100 }}</p>
  </div>
</article>
{% endfor %}

{% include pagination.html %}
